html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: none;
}

.container { max-width: 45em; 
  margin: 0 auto; 
  max-width: 50em;
}

.hero { 
  padding: 30px;
  font-size: 1.2em;
  border: 1px solid #FF8572;
  border-radius: 10px;
}
.content { 
  display: flex;
  flex-flow: row;
}

body { 
  margin: 0; 
  font-size: 14px; 
  line-height: 1.61; 
  font-weight: 400; 
  font-family: 'Open Sans', sans-serif; 
  color: #333; 
  background: #fff; 
}

header, footer { 
  max-width: 45em; 
  margin: 0 auto; 
}

header { 
  padding: 0 0.5em;
}

header img { 
  border-radius: 40px; 
  float: left; 
}

header p { 
  font-size:1.5em; 
  font-weight: bold; 
  padding-left: 4em;
  color: #A61700;
}

header p span { 
  font-size: 0.8em; 
  font-weight: normal;
}

.content li { 
  list-style-type: none; 
  font-size: 1em;
}

li img { 
  float:left; 
  padding-right: 1em; 
}

li p { 
  font-size: 0.9em; 
  font-style: italic; 
}

footer {
  padding: 0 0.5em;
  border-top: 1px solid #ccc;
}

footer span { 
  float: right; 
  font-style: italic; 
}

/* Smartphones (portrait) */
@media only screen and (max-width: 480px) {
  body { 
    font-size: 12px;
  }

  header p { 
    padding-left: 4.5em;
  }
}

nav {
  border: #FF8572 1px solid;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  width: 30%;
}

nav h3 {
  margin: 0 10px 0;
}

nav ul {
  margin: 0;
  padding: 0 10px;
  text-decoration: none;
}

a, .url {
  text-decoration: none;
  color: #94005A;
}

li a:before {
  content: "- ";
}

a:visited { 
  color: #94005A; 
}

a:focus { 
  outline: thin dotted; 
}

a:hover, a:active { 
  color: #c00; outline: 0; 
}

.additional {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
}